# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [6]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [7]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='
        
def queryCartoDB(query, formatting = 'CSV', source = SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [8]:
query = '''
SELECT * FROM fb55.citibike 
'''
get_data(query)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
10,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
11,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
12,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
13,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
14,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
15,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
16,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
17,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
18,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
19,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
20,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
21,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
22,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
23,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
24,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
25,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
26,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
27,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
28,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
29,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [11]:
#Sort data by start_station_id, tripduration 
query = '''
SELECT start_station_id,tripduration FROM fb55.citibike 
WHERE tripduration/3600 < 3
ORDER BY start_station_id, tripduration DESC;
'''
get_data(query)

       start_station_id  tripduration
0                    72          2099
1                    72          1944
2                    72          1914
3                    72          1801
4                    72          1678
5                    72          1537
6                    72          1535
7                    72          1518
8                    72          1493
9                    72          1388
10                   72          1382
11                   72          1366
12                   72          1324
13                   72          1293
14                   72          1242
15                   72          1156
16                   72          1127
17                   72          1109
18                   72          1095
19                   72          1082
20                   72          1074
21                   72          1054
22                   72          1051
23                   72          1046
24                   72           984
25                   72           977
26                   72           971
27                   72           962
28                   72           961
29                   72           953
...                 ...           ...
46121              3002           252
46122              3002           251
46123              3002           243
46124              3002           243
46125              3002           241
46126              3002           239
46127              3002           234
46128              3002           217
46129              3002           215
46130              3002           211
46131              3002           208
46132              3002           197
46133              3002           193
46134              3002           191
46135              3002           181
46136              3002           181
46137              3002           179
46138              3002           170
46139              3002           167
46140              3002           163
46141              3002           162
46142              3002           151
46143              3002           150
46144              3002           134
46145              3002           132
46146              3002           118
46147              3002           108
46148              3002            99
46149              3002            85
46150              3002            79

[46151 rows x 2 columns]

In [10]:
#Only show the top/last 10 records (aka head and tail in SQL) 
query = '''
SELECT * FROM fb55.citibike 
ORDER BY cartodb_id DESC
LIMIT 10
'''
get_data(query)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965,2
1,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983,2
2,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986,1
3,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986,2
4,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953,1
5,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960,2
6,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974,1
7,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959,1
8,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984,1
9,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983,2

In [12]:
query = '''
SELECT * FROM fb55.citibike 
ORDER BY cartodb_id ASC
LIMIT 10
'''
get_data(query)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,8 Ave & W 31 St,NaN,70,-73.994811,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,1,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
1,NaN,E 17 St & Broadway,NaN,71,-73.990093,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,2,40.737050,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1
2,NaN,Grand Army Plaza & Central Park S,NaN,72,-73.973715,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,3,40.764397,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969,2
3,NaN,6 Ave & Broome St,NaN,73,-74.004704,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,4,40.724399,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985,2
4,NaN,Lawrence St & Willoughby St,NaN,74,-73.986317,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,5,40.692362,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957,1
5,NaN,Willoughby Ave & Walworth St,NaN,75,-73.953820,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,6,40.693317,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979,1
6,NaN,W 56 St & 6 Ave,NaN,76,-73.977225,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,7,40.763406,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983,1
7,NaN,E 4 St & 2 Ave,NaN,77,-73.989780,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,8,40.726281,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955,1
8,NaN,Washington Pl & Broadway,NaN,78,-73.994046,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,9,40.729039,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985,2
9,NaN,Greenwich Ave & 8 Ave,NaN,79,-74.002638,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,10,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982,1

In [13]:
#List all unique start_station_id values 
query = '''
SELECT DISTINCT start_station_id FROM fb55.citibike
WHERE start_station_id IS NOT NULL;
'''
get_data(query)

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

In [14]:
# Aggregation functions: - Count the number of trips (aka wc -l in SQL) 
query = '''
SELECT COUNT(start_station_id) FROM fb55.citibike
'''
get_data(query)

   count  Unnamed: 1
0  46200         NaN

In [ ]:
#- Find the average/min/max trip duration

In [15]:
query = '''
SELECT MIN(tripduration), MAX(tripduration), AVG(tripduration) FROM fb55.citibike
WHERE tripduration IS NOT NULL;
'''
get_data(query)

   min    max         avg
0   60  43016  675.865823

In [16]:
#Selecting trips started on Feb-02-2015 only 
query = '''
SELECT starttime FROM fb55.citibike
WHERE starttime::DATE = '2015-02-02';
'''
get_data(query)

                   starttime  Unnamed: 1
0     2015-02-02 17:44:00+00         NaN
1     2015-02-02 20:12:00+00         NaN
2     2015-02-02 11:07:00+00         NaN
3     2015-02-02 00:40:00+00         NaN
4     2015-02-02 00:40:00+00         NaN
5     2015-02-02 06:20:00+00         NaN
6     2015-02-02 00:02:00+00         NaN
7     2015-02-02 00:03:00+00         NaN
8     2015-02-02 00:04:00+00         NaN
9     2015-02-02 00:06:00+00         NaN
10    2015-02-02 00:07:00+00         NaN
11    2015-02-02 00:08:00+00         NaN
12    2015-02-02 00:09:00+00         NaN
13    2015-02-02 00:11:00+00         NaN
14    2015-02-02 00:12:00+00         NaN
15    2015-02-02 00:12:00+00         NaN
16    2015-02-02 00:12:00+00         NaN
17    2015-02-02 00:13:00+00         NaN
18    2015-02-02 00:13:00+00         NaN
19    2015-02-02 00:13:00+00         NaN
20    2015-02-02 00:14:00+00         NaN
21    2015-02-02 00:15:00+00         NaN
22    2015-02-02 00:16:00+00         NaN
23    2015-02-02 00:18:00+00         NaN
24    2015-02-02 00:18:00+00         NaN
25    2015-02-02 00:19:00+00         NaN
26    2015-02-02 00:19:00+00         NaN
27    2015-02-02 00:20:00+00         NaN
28    2015-02-02 00:22:00+00         NaN
29    2015-02-02 00:23:00+00         NaN
...                      ...         ...
1429  2015-02-02 23:08:00+00         NaN
1430  2015-02-02 23:08:00+00         NaN
1431  2015-02-02 23:11:00+00         NaN
1432  2015-02-02 23:16:00+00         NaN
1433  2015-02-02 23:17:00+00         NaN
1434  2015-02-02 23:19:00+00         NaN
1435  2015-02-02 23:22:00+00         NaN
1436  2015-02-02 23:22:00+00         NaN
1437  2015-02-02 23:23:00+00         NaN
1438  2015-02-02 23:24:00+00         NaN
1439  2015-02-02 23:25:00+00         NaN
1440  2015-02-02 23:25:00+00         NaN
1441  2015-02-02 23:26:00+00         NaN
1442  2015-02-02 23:31:00+00         NaN
1443  2015-02-02 23:32:00+00         NaN
1444  2015-02-02 23:32:00+00         NaN
1445  2015-02-02 23:33:00+00         NaN
1446  2015-02-02 23:35:00+00         NaN
1447  2015-02-02 23:36:00+00         NaN
1448  2015-02-02 23:37:00+00         NaN
1449  2015-02-02 23:37:00+00         NaN
1450  2015-02-02 23:42:00+00         NaN
1451  2015-02-02 23:42:00+00         NaN
1452  2015-02-02 23:43:00+00         NaN
1453  2015-02-02 23:43:00+00         NaN
1454  2015-02-02 23:45:00+00         NaN
1455  2015-02-02 23:47:00+00         NaN
1456  2015-02-02 23:50:00+00         NaN
1457  2015-02-02 23:55:00+00         NaN
1458  2015-02-02 23:58:00+00         NaN

[1459 rows x 2 columns]

In [18]:
# Selecting trips started on the weekends - What are average trip duration during weekends? 
query = '''SELECT AVG(tripduration) FROM fb55.citibike 
WHERE EXTRACT(DOW FROM starttime::DATE) IN (0,6)'''
get_data(query)

          avg  Unnamed: 1
0  662.942181         NaN

In [21]:
#Can we do the same for weekday?
query = '''SELECT AVG(tripduration) FROM fb55.citibike
WHERE EXTRACT(DOW FROM starttime::DATE) IN (1,2,3,4,5)'''
get_data(query)

          avg  Unnamed: 1
0  681.052292         NaN

In [20]:
#Showing the list of start station locations -Using GROUP BY 
query = '''SELECT start_station_name, start_station_longitude, end_station_longitude FROM fb55.citibike
GROUP BY start_station_name, start_station_longitude, end_station_longitude'''
get_data(query)

,start_station_name,start_station_longitude,end_station_longitude
0,Franklin St & W Broadway,-74.006667,-73.989402
1,Greenwich Ave & 8 Ave,-74.002638,-73.987834
2,E 39 St & 3 Ave,-73.976049,-73.999318
3,E 27 St & 1 Ave,-73.976806,-73.977061
4,Broadway & W 32 St,-73.988084,-73.981693
5,E 2 St & Avenue B,-73.983688,-73.994156
6,Front St & Washington St,-73.989402,-73.989639
7,E 51 St & Lexington Ave,-73.972078,-73.986724
8,E 17 St & Broadway,-73.990093,-74.002345
9,South St & Gouverneur Ln,-74.006702,-74.006702
10,Carmine St & 6 Ave,-74.002150,-73.993722
11,Broadway & E 14 St,-73.990741,-73.989780
12,E 48 St & Madison Ave,-73.976684,-73.997044
13,Atlantic Ave & Fort Greene Pl,-73.976323,-73.971789
14,DeKalb Ave & Hudson Ave,-73.981013,-73.989639
15,Broadway & E 14 St,-73.990741,-74.010202
16,Howard St & Centre St,-73.999733,-73.996375
17,W 42 St & 8 Ave,-73.990985,-73.987535
18,Division St & Bowery,-73.997047,-73.977061
19,Bayard St & Baxter St,-73.999744,-74.011220
20,1 Ave & E 15 St,-73.981656,-74.005549
21,Rivington St & Ridge St,-73.983299,-74.015756
22,Clinton St & Tillary St,-73.991218,-73.993836
23,6 Ave & Canal St,-74.005664,-74.009660
24,6 Ave & Broome St,-74.004704,-73.988900
25,Forsyth St & Broome St,-73.992663,-73.976049
26,E 17 St & Broadway,-73.990093,-74.013617
27,W 21 St & 6 Ave,-73.994156,-73.990931
28,Lafayette St & E 8 St,-73.990765,-73.976687
29,Lexington Ave & E 24 St,-73.984092,-73.998102
...,...,...,...
19856,Washington Square E,-73.995721,-73.997044
19857,11 Ave & W 41 St,-73.998842,-73.991925
19858,E 16 St & 5 Ave,-73.992390,-74.004831
19859,W 37 St & 10 Ave,-73.997901,-73.976342
19860,E 20 St & Park Ave,-73.987520,-73.994564
19861,Bank St & Hudson St,-74.006180,-73.994564
19862,Christopher St & Greenwich St,-74.007114,-73.991908
19863,Reade St & Broadway,-74.005628,-74.010202
19864,E 43 St & Vanderbilt Ave,-73.977987,-73.985180
19865,Lafayette St & Jersey St,-73.995653,-73.989900
19866,W Houston St & Hudson St,-74.007488,-74.016584
19867,9 Ave & W 18 St,-74.003664,-73.990985
19868,E 33 St & 5 Ave,-73.984907,-73.972924
19869,Front St & Washington St,-73.989402,-73.990539
19870,W 20 St & 7 Ave,-73.997262,-73.990765
19871,Sullivan St & Washington Sq,-73.999061,-73.991925
19872,W 16 St & The High Line,-74.006818,-74.005226
19873,W 41 St & 8 Ave,-73.990026,-73.967597
19874,Lafayette Ave & Fort Greene Pl,-73.976682,-73.976323
19875,E 16 St & 5 Ave,-73.992390,-74.017134
19876,E 6 St & Avenue D,-73.976687,-73.980572
19877,W 37 St & 10 Ave,-73.997901,-73.994156
19878,W Houston St & Hudson St,-74.007488,-74.006744
19879,Liberty St & Broadway,-74.010434,-74.016584
19880,11 Ave & W 41 St,-73.998842,-73.988484
19881,Perry St & Bleecker St,-74.004831,-73.990697
19882,DeKalb Ave & Hudson Ave,-73.981013,-73.990539
19883,MacDougal St & Prince St,-74.002971,-74.007114
19884,E 30 St & Park Ave S,-73.983035,-73.993934
19885,DeKalb Ave & Vanderbilt Ave,-73.968855,-73.963198

In [ ]:
#Showing the number of trips started per station
query = '''SELECT start_station_name, COUNT(start_station_name) FROM fb55.citibike
GROUP BY start_station_name'''
get_data(query)

In [ ]:
 # only for stations within 500m of Time Square (40.7577,-73.9857) ?
query = '''
SELECT Count(start_station_name) as num_trips_per_station, start_station_name FROM citibike 
WHERE 
ROUND(6378.138 * 2 * ASIN(SQRT(POW(SIN((40.7577 * PI() / 180 - start_station_latitude * PI() / 180) / 2),2) 
+ COS(40.7577 * PI() / 180) * COS(start_station_latitude * PI() / 180) * 
POW(SIN((-73.9857 * PI() / 180 - start_station_longitude * PI() / 180) / 2),2))) * 1000)
<500
GROUP BY start_station_name
'''

get_data(query)

In [ ]:
#Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare! 
query = '''
SELECT AVG(tripduration) as avg_trip_duration FROM citibike 
WHERE 
ROUND(6378.138 * 2 * ASIN(SQRT(POW(SIN((40.7577 * PI() / 180 - start_station_latitude * PI() / 180) / 2),2) 
+ COS(40.7577 * PI() / 180) * COS(start_station_latitude * PI() / 180) * 
POW(SIN((-73.9857 * PI() / 180 - start_station_longitude * PI() / 180) / 2),2))) * 1000)
<500
AND
EXTRACT(DAY FROM starttime::DATE) = 1 or EXTRACT(DAY FROM starttime::DATE) = 7
GROUP BY start_station_id 
ORDER BY avg_trip_duration DESC LIMIT 1
'''

get_data(query)

In [ ]:
# create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. 
# The number of trips per each pair of stations are output as attributes of these lines.
query = '''
SELECT start_station_name, end_station_name, COUNT(tripduration) FROM citibike 
WHERE 
ROUND(6378.138 * 2 * ASIN(SQRT(POW(SIN((40.7577 * PI() / 180 - start_station_latitude * PI() / 180) / 2),2) 
+ COS(40.7577 * PI() / 180) * COS(start_station_latitude * PI() / 180) * 
POW(SIN((-73.9857 * PI() / 180 - start_station_longitude * PI() / 180) / 2),2))) * 1000)
<500 
AND 
tripduration/3600<2
GROUP BY start_station_name, end_station_name
'''
get_data(query)

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel